/* reset */ 
*{margin:0;padding:0;box-sizing:border-box;}
 
h1,
h3{
    font-family: 'Roboto', sans-serif;
    font-family: 'Metal Mania', cursive;
}
h1{
    font-size:62px;
    color:#FF0000;
}
h2{
    font-size:18px;
    font-family: Helvetica,arial,sans-serif;
}
h3{
    font-size:40px;
    color:#fdd735;
}
#title,#tribute-info,footer{
    background:black;
}

